.signup{
        height: 100vh;
    background-image: url("../../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 35%;
    height: 500px;
    border: solid 1px #ccc;
    margin: auto;
    border-radius: 5px;
    background-color: #ccc;
    padding-bottom: 30px;
    margin-top: 3%;

    &__header{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
    }

    &__fields{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-field{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        &-input{
            width: 70%;
            height: 30px;
            border-radius: 5px;
        }

        &-label{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
            display: block;
            width: fit-content;
        }

        &-error{
            color: red;
            font-size: 12px;
        }
    }

    &__btn{
        display: flex;
        align-items:center;
        justify-content:space-between;
        gap: 10px;
        width: 80%;

        &-login{
        margin-top: 20px;
        width: 50%;
        height: 30px;
        border-radius: 5px;
        background-color: #007bff;
        }

        &-signup{
        margin-top: 20px;
        margin-right: 10px;
        width: 50%;
        height: 30px;
        border-radius: 5px;
        background-color: #28a745;
        }
    }
}